
body {
  background-size: cover;
  height: 100%;
  font-family: 'Mina', sans-serif;
  font-size: 9pt;
  line-height: 20px;
}

a{
  text-decoration: none;
  color: black;
}

figure{
  display: block;
  text-align: center;
  margin: 40px;
}

.class{
  max-width: 400px;
}


#title{
  color: #ADADAD;
}

#welcome{
  transform: translateX(-45%) translateY(-45%);
  position: absolute;
  top: 30%;
  left: 50%;
  color: #ADADAD;
}

a,h1{
  padding-top: 20px;
  color: black;
  font-weight: .2;
  font-size: 50px;
  color: #ADADAD;
  text-align: center;
  opacity: .7;
  text-decoration: none !important;
  transition: .3s;
}

h2{
  color: black;
  font-weight: .2;
  font-size: 25px;
  color: #ADADAD;
  text-align: center;
  opacity: .7;
  padding-bottom: 15px;
}

h3{
  font-size: 20px;
}

h1:hover{
  opacity: 1;
  transition: .3s;
}

table{
  display: block;
  margin-top: 100px;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 50%;
  left: 50%;
   text-align: center;
  text-decoration: none !important;
}

td{
  transition: .6s;
  opacity: 0.5;
  color: black;
  text-decoration: none !important;
  border: 10px solid white;
  padding: 13px;
}

#cgame{
  background-color: lightblue;
  background-position: center;
  transition: .3s;
  background-repeat: no-repeat;
}

#vera{
  background-image: url('../img/concert.jpg');
  background-position: top left;
  color: black;
  background-repeat: no-repeat;
}

#projectOp{
  background-image: url('../img/contact.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  transition: .3s;
}


#unprebeared{
  background-image: url('../img/design.jpg');
  background-position:  center ;
    background-repeat: no-repeat;
}

#darkGreen{
  background-color: #CCFA93;
  color: #71964E;
}

#luxhomes{
  background-image: url('../img/contact.jpg');
  background-position: left;
  background-size: fill;
  background-repeat: no-repeat;
}

#rgb{
  background-image: url('../img/rgb.png');
  background-position: left;
  background-size: fill;
  background-repeat: no-repeat;
}

#school{
  background-color: #4b2e83;
  color: #b7a57a;
}

button{
  border: none;
  background-color: white;
  opacity: .6;
  margin: 10px;
}


