
body {
    background-color: rgb(216, 217, 218);
    font-family: 'Open Sans', sans-serif;
}
li, ul, a{
padding-left: 0pt;
padding-right: 10px;
display: inline;
text-decoration: none;
}

nav{
padding: 10px;
background-color:rgb(51, 0, 111);
color: lightgray;

}

header{
background: url("https://students.washington.edu/amosaula/index/background.jpg") center no-repeat;
height: 330pt;
padding-top: 30pt;
}

h1{
	font-size: 50pt;
}

h4{
	line-height: 23pt;
}

h1, h4{
	max-width: 60%;
	color: lightgray;
	text-align: left;
	padding: 20px;
	font-weight: .5;
}
